
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      // The admin's email is hardcoded here.
      // Any user who signs in with this email will have admin privileges.
      return request.auth.token.email == "admin@example.com";
    }

    match /users/{userId} {
      allow get: if isOwner(userId) || isAdmin();
      allow list: if false; 
      allow create: if isOwner(userId);
      allow update, delete: if isOwner(userId);

      match /profiles/{profileId} {
        allow read, write: if isOwner(userId);
      }

      match /favorites/{collegeId} {
        allow read, write: if isOwner(userId);
      }
    }

    match /colleges/{collegeId} {
        allow read: if isSignedIn();
        allow list, write: if isAdmin();
    }
  }
}
