
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      // The admin's email is hardcoded here.
      // Any user who signs in with this email will have admin privileges.
      return isSignedIn() && request.auth.token.email == "admin@gmail.com";
    }

    function isCollegeRep() {
      return isSignedIn() && request.auth.token.email.matches('.+\\.edu$');
    }

    match /users/{userId} {
      allow get: if isOwner(userId) || isAdmin();
      allow list: if isAdmin(); 
      // Allow a user to create their own user document
      allow create: if isOwner(userId);
      allow update, delete: if isOwner(userId) || isAdmin();

      match /profiles/{profileId} {
        allow read, write: if isOwner(userId);
      }

      match /favorites/{collegeId} {
        allow read, write: if isOwner(userId);
      }
    }

    match /colleges/{collegeId} {
        allow read: if isSignedIn();
        allow list: if isSignedIn();
        
        allow create: if isCollegeRep() && request.resource.data.managedBy == request.auth.uid;
        
        allow update: if isCollegeRep() && request.auth.uid == resource.data.managedBy || isAdmin();

        allow delete: if isCollegeRep() && request.auth.uid == resource.data.managedBy || isAdmin();
    }
  }
}
